body{
    background-color: rgb(231, 231, 231);
}
header{
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.geral{
    display:flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    flex-wrap: wrap;
    padding: 0px;
    position: absolute;
}

.extra_info{
    display: flexbox;
    background-color: rgb(118, 151, 151);
    width: 500px;
    height: auto;
    padding: 5px;
    border-radius: 25px;
    text-align: center;
    margin: 50px auto;
    position: relative;
}

.extra_info ul{
    text-align: left;
}

.identidade{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: aliceblue;
    width: 800px;
    padding: 25px;
    border-radius: 25px;
    margin: 50px auto;

}

.identidade ul{
    list-style-position: inside;
    padding-left: 0;
    text-align:left;
    display: inline-block;
    padding: 15px;

}

.listas{
    display: flex;
    justify-content: left;
    gap: 50px;
}


.identidade >p{
    color: blue;
}
.extra{
    text-align: left;
    
}

a:hover{
    color:rgb(0, 0, 0);
    text-decoration: overline;
}

input:focus{
    border-color:rgb(0, 0, 0);
    background-color: rgb(190, 190, 190);
}